.nav-item a {
    color: #374649;
}

.nav-item a:hover {
    color: #374649;
    transform: scale(1.05);
    border-bottom: solid 2px #5048F4 !important;
}

.nav .active {
    border-bottom: solid 2px #5048F4 !important;
}